*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter), sans-serif;
}

button{
  cursor: pointer;
  border: 0;
}

a{
  text-decoration: none;
}
